.container {
    height: 100%;
    width: 100%;
    padding: 70px 0px;
}

.title__wrapper {
    margin-bottom: 20px;
    width: 100%;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 32px;
}

.btn-add-product {
    font-size: 16px;
}

.product-list-wrapper {
    width: 100%;
    padding: 0px 40px;
    display: flex;
}

.search__wrapper {
    width: 240px;
    display: flex;
    flex-direction: column;
}

.sort-price {
    width: 240px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-left: 30px;
    width: 1162px;
}

.product__card {
    width: calc(33.333% - 20px);  /* 3 columns */
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Drop Shadow*/
}

.product-img {
    max-width: 100%;
    height: auto;
}

.product__info {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    font-weight: 300;
}
